# Environment Variables
.env
*.json

# Python Virtual Environment
venv/
env/
ENV/
.venv/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# IDE and OS files
.vscode/
.idea/
.DS_Store

# --- Custom Ignored Directories ---

# Ignore downloaded HuggingFace models, but keep the placeholder README
models/*
!models/README.md

# Ignore the actual heavy database blobs (Neo4j and Qdrant)
data/processed/*
!data/processed/README.md

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
